<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="3" parallel="classes">
  <listeners>
    <listener class-name="com.demoqa.util.listeners.MyListeners"/>
  </listeners>
  
    <test name="e2e Book Store">
    <classes>
      <class name="com.demoqa.test.bookStore.BookStoreTest"/>
    </classes>
    </test>
</suite>
