<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="methods">
  <listeners>
    <listener class-name="com.demoqa.test.listeners.MyListeners"/>
    <listener class-name="com.demoqa.test.listeners.MyAnnotationTransformer"/>
  </listeners>
    <test name="widgets">
    <classes>
      <class name="com.demoqa.test.widgets.MenuTest"/>
    </classes>
    </test>
</suite>
